.d-flex{
    display: flex;
     justify-content: space-between;
     background-color: rgb(238, 227, 227);
     
}
.d-flex>h3{
     padding: 5px;
}
.d-flex p{
    font-size: 20px;
     color: red;
    margin: 10px;
    padding: 5px;
    border: 1px solid lightblue;
 }
  